/* common.css 호출 */
@import url(common.css);
/* root 설정 */
html{
    font-size: 16px;
}
/* 헤더 영역 시작 */

.header {
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    z-index: 999;
}

.hd-wrap {
    max-width: 1280px;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2rem;
}

.gnb {
    gap: 4.5rem;
    place-items: center;
    font-size: 1rem;
}

.header button {
    border-radius: 0.5rem;
    background-color: #05D182;
    padding: 0.625rem 1.5rem;
    font-size: 1rem;
}

/* kv 영역 시작 */
.kv {
    width: 100%;
    height: auto;
    background-color: #000;
    position: relative;
}

.kv-wrap {
    max-width: 1280px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    position: relative;
    overflow: hidden;
}


.bgt-left {
    font-size: 10rem;
    color: rgba(255, 255, 255, 0.2);
    position: relative;
    margin-bottom: 0;
}

.bgt-right {
    font-size: 10rem;
    color: rgba(255, 255, 255, 0.2);
    text-align: right;
    position: relative;
    line-height: 12rem;
    margin-top: 0;
}
.bgt-left span,.bgt-right span{
    font-size: 8rem;
}

.kv-btn {
    width: 32rem;
    height: 32rem;
    border-radius: 50%;
    background-color: #000;
    box-shadow: 0 0 20px 0px #05D182CC;
    border: 1px solid #05D182;
    position: relative;
    left: 50%;
    transform: translate(-50%,2rem);
    flex-shrink: 0;
    z-index: 1;
    place-items: center;
}
.kv-btn h1{
    font-size: 4rem;
}
.kv-btn p{
    font-size: 3rem;
}
.kv-btn img {
    width: 2.5rem;
    height: auto;
    margin-left: 1rem;
}


/* 어바웃 영역 시작 */
.about {
    font-family: 'Paperozi';
    width: 100%;
    margin: 100px auto;
    justify-content: space-between;
}

.about-wrap {
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tit-btn {
    margin-bottom: 60px;
}

.tit-btn h3 {
    margin-bottom: 36px;
}

.rev-btn {
    font-size: 24px;
    background-color: #05D182;
    font-family: 'Paperozi';
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 17px 58px;
}

.infowrap {
    width: 740px;
    display: flex;
    flex-direction: column;
    gap: 46px;
}

.infowrap div {
    width: 100%;
    display: flex;
    word-break: keep-all;
    padding: 0 20px;
    gap: 168px;
    place-items: center;
}

.infowrap h4 {
    font-size: 24px;
    color: #05D182;
}

.infowrap p {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
}


/* 후기 영역 */
.section-reviews {
    width: 100%;
    height: 984px;
    background: linear-gradient(#05D182 70%, #8CFFD2 100%);
    overflow: hidden;
}

.tit-wrap {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.tit-wrap h1 {
    position: relative;
    display: inline-block;
    z-index: 10;
    text-align: center;
}

.tit-wrap:first-child {
    margin-top: 100px;
}

.big-w-circle {
    position: relative;
}

.big-w-circle::after {
    content: "";
    /* 원의 크기, 모양 지정 */
    display: block;
    width: 857px;
    height: 857px;
    border-radius: 50%;
    /* 색상 지정 */
    background-color: #fff;
    /* 원의 위치 정렬 */
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    /* z 좌표 정리 */
    z-index: 0;
}

.tit {
    position: relative;
    text-align: center;
    margin-top: 100px;
}

.revboxwrap {
    width: 1280px;
    margin: 100px auto 0;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

.leftbox {
    flex-direction: column;
    gap: 100px;
    text-align: right;
}

.rightbox {
    flex-direction: column;
    margin: auto 0;
    gap: 100px;
    position: relative;
    text-align: left;
}

.rev-textbox {
    backdrop-filter: blur(10px);
    font-family: 'Paperozi';
    font-size: 16px;
    padding: 20px 60px;
    width: 524px;
    background: #ffffff33;
    border-radius: 20px;
    border: 1px rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.brief {
    font-weight: 700;
    color: #000;
}

.name {
    font-weight: 400;
    color: #006E44;
}

.rev-textbox p {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 400;
    color: #006E44;
}

.revbox1::after {
    content: url(../images/face01.png);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.revbox2::after {
    content: url(../images/face02.png);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.revbox3::after {
    content: url(../images/face03.png);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.revbox4::after {
    content: url(../images/face04.png);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.revbox5::after {
    content: url(../images/face05.png);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

/* 협력기업 영역 */
.sec-corp {
    padding: 100px 0;
    width: 100%;
    background-color: #000;
    font-family: 'Paperozi';
    color: #fff;
    position: relative;
    z-index: -2;
    overflow: hidden;
}

.sec-corp::after {
    content: "";
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background: radial-gradient(#ffffffcc 0%, #000 50%);
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.corp_textwrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    position: relative;
}

.text1 {
    font-size: 16px;
    font-weight: 200;
}

.text2 {
    font-size: 96px;
    font-weight: 700;
    letter-spacing: 10%;
    background: linear-gradient(0deg, #FDDC8F, #F4AB47);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

.text2::before {
    content: url(../images/left.png);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-120%, 10%);
}

.text2::after {
    content: url(../images/right.png);
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(120%, 10%);
}

.corp_textwrap h1 {
    font-size: 48px;
    font-weight: 600;
}

.text3 {
    font-size: 20px;
    font-weight: 200;
}

.corpwrap {
    width: 1280px;
    height: 400px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    margin-top: 50px;
}

.corpbox {
    width: 19%;
    height: 22%;
    background-color: #fff;
    position: relative;
    border-radius: 15px;
}

.corpbox img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bg-line {
    background-color: #3ACE01;
}

.bg-kakao {
    background-color: #FFCD00;
}

.bg-hansam {
    background-color: #F8F8F8;
}

.bg-adobe {
    background-color: #ED1000;
}

/* 커리큘럼 영역 */
.sec-curri {
    width: 100%;
    height: 1200px;
    padding: 100px 0;
    z-index: -1;
}

.curri-titwrap {
    font-family: 'Paperozi';
    text-align: center;
    height: 200px;
}

.curri-titwrap h1 {
    line-height: 120%;
    margin-bottom: 16px;
}

.linebox {
    max-width: 1280px;
}

.stepswrap {
    width: 944px;
    height: 58px;
    gap: 20px;
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.stepswrap p {
    width: 20%;
    height: 100%;
    border: 1px solid #05D182;
    border-radius: 29px;
    align-content: center;
    position: relative;

}

.stepswrap p::after {
    content: url(../images/textboxtail.png);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 110%);
}


@media(max-width:1280px) {
    .html{
        font-size: 15px;
    }
}

@media(max-width:1024px) {
    html{
        font-size: 14px;
    }
}

@media(max-width:768px) {
    .gnb{
        display: none;
    }
}

@media(max-width:540px) {

}