/* common.css 호출 */
@import url(common.css);

/* root 설정 */
html {
    font-size: 16px;
}

/* 헤더 영역 시작 */

.header {
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    z-index: 999;
}

.hd-wrap {
    max-width: 1280px;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.gnb {
    gap: 4.5rem;
    place-items: center;
    font-size: 1rem;
}

.header button {
    border-radius: 0.5rem;
    background-color: #05D182;
    padding: 0.625rem 1.5rem;
}

/* kv 영역 시작 */
.kv {
    width: 100%;
    height: auto;
    padding: 0 16px;
    background-color: #000;
    position: relative;
}

.kv-wrap {
    max-width: 1280px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    position: relative;
    overflow: hidden;
}


.bgt-left {
    font-size: 9rem;
    color: rgba(255, 255, 255, 0.2);
    position: relative;
    margin-bottom: -8rem;
}

.bgt-right {
    font-size: 9rem;
    color: rgba(255, 255, 255, 0.2);
    text-align: right;
    position: relative;
    line-height: 11rem;
    margin-top: -8rem;
}

.bgt-left span,
.bgt-right span {
    font-size: 7rem;
}

.kv-btn {
    width: 32rem;
    height: 32rem;
    border-radius: 50%;
    background-color: #000;
    box-shadow: 0 0 20px 0px #05D182CC;
    border: 1px solid #05D182;
    position: relative;
    left: 50%;
    transform: translate(-50%, 2rem);
    flex-shrink: 0;
    z-index: 1;
    place-items: center;
}



.kv-btn img {
    width: 2.5rem;
    height: auto;
    margin-left: 1rem;
}


/* 어바웃 영역 시작 */
.about {
    font-family: 'Paperozi';
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 6.25rem 0;
    justify-content: space-between;
}

.about-wrap {
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tit-btn {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.rev-btn {
    width: 100%;
    background-color: #05D182;
    font-family: 'Paperozi';
    border: none;
    border-radius: 0.625rem;
    padding: 1rem;
}

.infowrap {
    max-width: 50rem;
    display: grid;
    flex-wrap: wrap;
    gap: 3rem;
}

.infowrap div {
    width: 100%;
    display: flex;
    word-break: keep-all;
    padding: 0 1.5rem;
    gap: 10rem;
    place-items: center;
}

.infowrap h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #05D182;
}

.infowrap p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 130%;
}


/* 후기 영역 */
.section-reviews {
    width: 100%;
    height: auto;
    padding: 6.25rem 16px;
    background: linear-gradient(#05D182 70%, #8CFFD2 100%);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.section-reviews::after {
    content: "";
    display: block;
    width: 54rem;
    height: 54rem;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.rev_titbox {
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.revboxwrap {
    max-width: 1280px;
    margin: 6.25rem auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem;
    position: relative;
    z-index: 3;
}

.revbox {
    width: 32.75rem;
    padding: 1.25rem 3.75rem;
    background: #ffffff33;
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 1.25rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.2);
    font-family: 'Paperozi';
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.revbox:nth-child(odd) {
    text-align: right;
}

.revbox:nth-child(even) {
    transform: translate(0, calc(14.25rem / 3));
}

.revbox p:first-child {
    font-size: 1rem;
}

.revbox span {
    color: #006e44;
}

.revbox p:last-child {
    font-size: 1.25rem;
    line-height: 120%;
    color: #006e44;
}

.revbox::after {
    content: "";
    background-size: cover;
    width: 7.5rem;
    height: 7.5rem;
}

.revbox:nth-child(odd)::after {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.revbox:nth-child(even)::after {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.revbox:nth-child(1):after {
    content: "";
    background-image: url(../images/face01.png);
}

.revbox:nth-child(2):after {
    content: "";
    background-image: url(../images/face02.png);
}

.revbox:nth-child(3):after {
    content: "";
    background-image: url(../images/face03.png);
}

.revbox:nth-child(4):after {
    content: "";
    background-image: url(../images/face04.png);
}

.revbox:nth-child(5):after {
    content: "";
    background-image: url(../images/face05.png);
}


/* 협력기업 영역 */
.sec-corp {
    width: 100%;
    height: auto;
    padding: 6.25rem 0;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.sec-corp::after {
    content: "";
    width: 75rem;
    height: 75rem;
    border-radius: 50%;
    background: radial-gradient(#ffffffcc 0%, #000 50%);
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
}

.corp_textwrap {
    width: fit-content;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-align: center;
    position: relative;
}

.corp_textwrap span {
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 10%;
    background: linear-gradient(0deg, #FDDC8F, #F4AB47);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

.corp_textwrap span::before {
    content: "";
    background-image: url(../images/left.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 5.4rem;
    height: 9rem;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-120%, 10%);
}

.corp_textwrap span::after {
    content: "";
    background-image: url(../images/right.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 5.4rem;
    height: 9rem;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(120%, 10%);
}

.corpwrap {
    max-width: 1280px;
    height: auto;
    margin: auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-top: 3.125rem;
}

.corpbox {
    width: 18%;
    height: 5.5rem;
    background-color: #fff;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.corpbox img {
    position: absolute;
    max-width: 90%;
    max-height: 90%;
    width: fit-content;
    height: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bg-line {
    background-color: #06C755;
    background-image: url(../images/logo-line.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bg-kakao {
    background-color: #FFCD00;
    background-image: url(../images/logo-kakao.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.bg-hansam {
    background-color: #F8F8F8;
}

.bg-adobe {
    background-color: #ED1000;
}

/* 커리큘럼 영역 */
.sec-curri {
    width: 100%;
    height: auto;
    padding: 6.25rem 1rem;
    z-index: -1;
}

.curri-titwrap {
    font-family: 'Paperozi';
    text-align: center;
    height: auto;
    margin-bottom: 3.75rem;
}

.curri-titwrap h1 {
    line-height: 120%;
    margin-bottom: 1rem;
}

/* 커리큘럼 서브 섹션 1 시작 */
.subsec1 {
    width: 100%;
    max-width: 1024px;
    margin: 6.25rem auto;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 3.75rem;
}

.line {
    max-width: 1280px;
    /* transform: rotate(90deg); */
}

.line-under1024px {
    display: none;
}

.highwrap {
    width: 59rem;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    align-items: center;
}

.highwrap p {
    width: 20%;
    height: 3rem;
    border: 1px solid #006E44;
    border-radius: 1.8125rem;
    align-content: center;
    position: relative;
}

.highwrap p::after {
    content: "";
    width: auto;
    height: auto;
    border-width: 1rem 1rem 0 1rem;
    border-style: solid;
    border-color: #006E44 transparent transparent transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}

.highwrap p:last-child {
    font-weight: 700;
    background: linear-gradient(to left, #E5EB36, #4ABAA8);
    -webkit-background-clip: text;
    background-clip: text border-box;
    color: transparent;
}


.lowwrap {
    width: 59rem;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}


.lowbox::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #8CFFD2;
    position: absolute;
    top: -2.8125rem;
    transform: translate(0, -50%);
    box-shadow: 0 0 0 0.625rem rgba(140, 255, 210, 0.5);
}

.lowbox {
    width: 20%;
    align-items: center;
    align-content: center;
    padding: 55px 0;
    display: flex;
    flex-direction: column;
    gap: 2.125rem;
    border-radius: 29rem;
    background-color: #006E44;
    word-break: keep-all;
    position: relative;
}

.lowbox:last-child {
    background: linear-gradient(to right, #4ABAA8, #E5EB36);
}

.lowbox .num {
    position: relative;
    z-index: 1;
}

.lowbox .num::after {
    content: "";
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: #004629;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.lowtext {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.lowbox p {
    line-height: 120%;
}

.lowbox:last-child h5,
.lowbox:last-child p {
    background: linear-gradient(to right, #704aba 0%, #4d4aa4 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* 커리큘럼 영역 서브 섹션 2 시작 */
.sebsuc2 {
    width: 100%;
    height: auto;
    margin: 6.25rem auto;
}

.subsec2-tit {
    width: 100%;
    text-align: center;
    color: #FFA828;
    position: relative;
    justify-content: center;
    margin: 10rem auto;
    background-color: #001d00;
    z-index: 3;
}

.subsec2-tit::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    background: #FFA828;
}

.subsec2-tit h4 {
    line-height: 1;
    padding: 12px;
    background-color: #001d00;
    position: relative;
    align-items: center;
    display: inline-block;
    z-index: 3;
}

.subsec2-tit h4::after {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../images/trophy.png);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: -0.1875rem;
}

.subsec2-cont {
    max-width: 1024px;
    margin: 6.25rem auto;
    padding: 0 3rem;
    display: flex;
    position: relative;
}

.leftwrap {
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.midwrap {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin: auto;
    align-items: center;
}

.rightwrap {
    display: flex;
    gap: 1.25rem;
    text-align: center;
    align-items: center;
}

.leftwrap .subtexth1 {
    font-size: 1rem;
    font-weight: 300;
    color: #000;
}

.leftwrap .subtexth2 {
    font-size: 0.875rem;
    font-weight: 300;
}

.leftwrap h4,
.leftwrap p {
    width: fit-content;
    display: block;
    position: relative;
}

.leftwrap h4::after {
    content: "";
    display: block;
    width: 12.25rem;
    height: 12.25rem;
    border-radius: 50%;
    background-color: #00FF72;
    box-shadow: 0 0 0 0.9375rem #009241;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.leftwrap h4::before {
    content: "";
    display: block;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    background-color: #007735;
    box-shadow: 0 0 0 0.9375rem #004A21;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.leftwrap p:first-child {
    position: relative;
    top: 0;
    left: -80%;
    transform: translate(-50%, 0);
}

.leftwrap p:nth-child(2) {
    position: relative;
    top: 0;
    left: 130%;
    transform: translate(-50%, -150%);
}

.leftwrap p:nth-child(4) {
    position: relative;
    top: 0;
    left: 160%;
    transform: translate(-50%, 0);
}

.leftwrap p:nth-child(5) {
    position: relative;
    top: 0;
    left: -100%;
    transform: translate(-50%, 0);
}

.leftwrap p:nth-child(6) {
    position: relative;
    transform: translate(0, 65%);
}

.leftwrap p:first-child::before {
    content: "";
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #006E44;
    position: absolute;
    top: -150%;
    right: -100%;
    transform: translate(50%, -50%);
}

.leftwrap p:nth-child(6)::before {
    content: "";
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #006E44;
    position: absolute;
    top: 0;
    right: -130%;
    transform: translate(50%, -50%);
}

.leftwrap p:first-child::after {
    content: "";
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #002703;
    border: 1px solid #05D182;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.leftwrap p:nth-child(2)::after {
    content: "";
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #002703;
    border: 1px solid #05D182;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.leftwrap p:nth-child(6)::after {
    content: "";
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #002703;
    border: 1px solid #05D182;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.leftwrap p:nth-child(4)::after {
    content: "";
    display: block;
    width: 6.3125rem;
    height: 6.3125rem;
    border-radius: 50%;
    background-color: #00FF72;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.leftwrap p:nth-child(5)::after {
    content: "";
    display: block;
    width: 6.3125rem;
    height: 6.3125rem;
    border-radius: 50%;
    background-color: #00FF72;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}


.midwrap p {
    background: linear-gradient(to right, #4ABAA8, #E5EB36);
    background-clip: text;
    color: transparent;
    text-align: center;
}

.midwrap img {
    height: 1.0625rem;
}

.img-textwrap {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.rightwrap p::before {
    content: "";
    width: 3rem;
    height: 3rem;
    background: url(../images/badge.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 10;
}

.rightwrap p {
    line-height: 120%;
    position: relative;
    z-index: 1;
    /* transform: translate(0,50%); */
}

.rightwrap p::after {
    content: "";
    display: block;
    width: 5.875rem;
    height: 5.875rem;
    border-radius: 50%;
    background-color: #006E44;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.rightwrap h4 {
    position: relative;
    z-index: 0;
}

.rightwrap h4::after {
    content: "";
    width: 15.4375rem;
    height: 15.4375rem;
    border-radius: 50%;
    background-color: #00FF72;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}


/* 서브섹션3 시작 */
.sec-curri hr {
    margin-bottom: 6.25rem;
    background-color: #00FF72;
}

.subsec3 {
    text-align: center;
}

.subsec3 h3 {
    margin-bottom: 6.25rem;
}

.cardwrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    display: flex;
    width: 39.5rem;
    height: 19.25rem;
}

.cardimg {
    width: 50%;
    height: 100%;
}

.cardtext {
    width: 50%;
    height: 100%;
    padding: 3.75rem 0.875rem;
    background-color: #fff;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardtext span {
    font-family: 'pretendard';
    font-size: 1rem;
    color: #7C7B7B;
    line-height: 150%;
}

.cardtext .num {
    font-family: 'pretendard';
    font-size: 1.25rem;
    background-color: #05D182;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.3125rem;
    align-content: center;
}

.cardtext h4 {
    font-family: 'Paperozi';
    font-size: 1.5rem;
}

.cardtext:nth-child(2) {
    border-radius: 0 1.25rem 1.25rem 0;
}

.cardtext:nth-child(1) {
    border-radius: 1.25rem 0 0 1.25rem;
}


/* sec.subsidy */
.subsidy {
    width: 100%;
    height: auto;
    padding: 6.25rem 0;
    background: linear-gradient(#fff, #B9F6DA);
}

.sub-titwrap {
    text-align: center;
    margin-bottom: 1.375rem;
}

.sub-titwrap span::after {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url(../images/subsidy_arrow-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sub-titwrap h3 {
    margin-bottom: 0.5rem;
}

.sub-titwrap h1 {
    margin-bottom: 2.5rem;
}

.sub-titwrap h5 {
    margin-bottom: 0.25rem;
}

.sub-cardwrap {
    width: fit-content;
    height: auto;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
}

.sub-card {
    border-radius: 1.875rem;
    box-shadow: inset 0.1rem 0.25rem 1rem 1rem rgba(255, 255, 255, 0.2);

}

.sub-leftcard {
    width: 57%;
    max-width: 46.25rem;
    height: auto;
    padding: 2.9375rem;
    background-color: rgba(5, 209, 130, 0.2);
    gap: 1.25rem;
    display: flex;
    flex-direction: column;
}

.sub-leftcard .sub-upper h3 {
    margin-bottom: 0.5rem;
}

.sub-mid img {
    margin-left: 3.6875rem;
    transform: rotate(90deg);
}

.sub-leftcard .sub-lower h3 {
    margin-bottom: 1rem;
}

.sub-rightcard {
    max-width: 32.75rem;
    width: 41%;
    height: auto;
    padding: 2.9375rem;
    background-color: rgba(0, 110, 68, .2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.sub-rightcard h3 {
    margin-bottom: 0.625rem;
}

.sub-rightcard::before {
    content: "";
    display: block;
    width: 3.2813rem;
    height: 3.2813rem;
    background-image: url(../images/icon-plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

/* sec.faq */
.faq {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: auto;
    padding: 6.25rem 0;
    background-color: #fff;
    display: flex;
    column-gap: 4rem;
    justify-content: space-between;
}

.faq-titwrap h3 {
    margin-bottom: 1.25rem;
}

.faq-titwrap h3::before {
    content: "";
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    background-color: #05D182;
}

.faq-titwrap h1 {
    text-wrap: nowrap;
}

.faq-cardwrap {
    max-width: 46rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.faq-card {
    background-color: #A2EDD0;
    padding: 1.25rem 2rem;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.faq-card h4 {
    justify-content: space-between;
    gap: 2rem;
    width: calc(100%);
    line-height: 130%;
}

.faq-card p {
    display: none;
    line-height: 130%;
}

.faq-card h4::after {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    background-image: url(../images/icon-faqplus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex-shrink: 0;
}

/* form */
.apply-section {
    max-width: 1280px;
    margin: 0 auto;
    padding: 6.25rem 0;
}

.section-title {
    margin-bottom: 1.875rem;
}

.form-group-list {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 3.125rem;
}

.form-item {
    width: 100%;
    height: 4.25rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: start;
    align-content: center;
}

.item-3col--full {
    grid-column: span 2;
    grid-template-columns: 1fr 3fr 2fr;
}

.item-2col--full {
    grid-column: span 2;
    grid-template-columns: 1fr 5fr;
}

.form-item label {
    padding: 20px 0;
    margin-right: 1rem;
    border-bottom: 1px solid #05D182;
}

.form-input-box--default {
    height: 68px;
    padding: 0.625rem 1.25rem;
    background-color: #f2f4f8;
    border-radius: 1.25rem;
    color: #7C7B7B;
}

.select--default {
    background-image: url(../images/arrow-down-bold.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-item textarea {
    align-self: end;
    resize: none;
    align-content: center;
}

.form-section-submit-btn {
    grid-column: span 2;
    width: calc(500%/6);
    margin-left: calc(100%/6);
    padding: 1rem 0;
    background: #05D182;
    border-radius: 0.625rem;
}

#userEmail {
    margin-right: 0.625rem;
}

/* FOOTER SECTION */
.footer {
    padding: 3rem 0;
    background: #05D182;
    color: #fff;
    font-size: 0.875rem;
}

.footer div {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.footer-navi {
    display: flex;
    gap: 2rem;
}

.footer-business-info {
    line-height: 140%;
}

@media(max-width:1296px) {
    html {
        font-size: 14px;
    }

    .about,
    .section-reviews,
    .sec-corp,
    .sec-curri,
    .faq,
    .apply-section {
        padding: 6.25rem 4rem;
    }

    .footer {
        padding: 3rem 4rem;
    }

    .sub-cardwrap {
        padding: 0 16px;
    }

    .header {
        padding: 1rem 16px;
    }

    .about-wrap {
        width: fit-content;
        display: flex;
        flex-direction: column;
    }

    .tit-btn {
        width: fit-content;
    }

    .tit-btn h2 {
        width: fit-content;
    }

    .rev-btn {
        width: 100%;
    }

    .cardwrap {
        max-width: 784px;
        margin: 0 auto;
    }

    .card {
        width: 100%;
        height: auto;
    }

    .cardimg img {
        width: 100%;
        height: 100%;
    }
}

@media(max-width:1200px) {
    .revboxwrap {
        width: fit-content;
        display: flex;
        flex-direction: column;
    }

    .revbox:nth-child(even) {
        transform: translate(0, 0);
    }
}

@media(max-width:1024px) {
    html {
        font-size: 14px;
    }


    .infowrap div {
        gap: 6rem;
    }

    .subsec1 {
        flex-direction: row;
        gap: 0;
    }


    .highwrap {
        width: fit-content;
    }

    .highwrap p {
        width: 14rem;
        padding: 1rem 1.5rem;
        margin: 4.6786rem 0;
        height: auto;
    }

    .lowwrap {
        width: 14rem;
    }

    .lowbox {
        width: 11.5rem;
        height: 12.5rem;
        padding: 1.875rem 3.25rem;
        position: relative;
        flex-shrink: 0;
    }

    .line {
        display: none;
    }

    .line-under1024px {
        display: inherit;
        width: 10px;
        height: 56rem;
    }

    .highwrap p::after {
        width: 1rem;
        height: 100%;
        background-image: url(../images/tail.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border: none;
        top: 50%;
        left: 100%;
        transform: translate(50%, -50%);
    }

    .lowbox::before {
        position: absolute;
        top: 50%;
        left: calc(100% + 2.25rem);
        transform: translate(calc(-50vw - 50%), 0);
    }


    .midwrap {
        margin: 6rem;
    }

    .mut-arrow {
        align-content: center;
        transform: rotate(90deg);
        height: 6rem;
    }

    .rightwrap {
        margin: 3rem;
    }

    .cardwrap {
        max-width: 600px;
    }

    .faq {
        flex-direction: column;
        row-gap: 2rem;
        padding: 6.25rem 6.25rem;
    }

    .faq-cardwrap {
        max-width: 100%;
    }
}




@media(max-width:783px) {
    html {
        font-size: 13px;
    }

    .bgt-left {
        margin-bottom: -6rem;
    }

    .bgt-right {
        margin-top: -6rem;
    }

    .gnb {
        display: none;
    }

    .infowrap div {
        gap: 4rem;
    }

    .faq {
        padding: 6.25rem 4rem;
    }

    .form-group-list {
        display: flex;
        flex-direction: column;
    }

    .item-3col--full{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .item-2col--full{
        grid-template-columns: 1fr 2fr;
    }
}


@media(max-width:540px) {
    html {
        font-size: 12px;
    }

    .bgt-left {
        margin-bottom: -5rem;
    }

    .bgt-right {
        margin-top: -5rem;
    }

    .faq {
        padding: 6.25rem 2rem;
    }
}

    @media(max-width:458px) {

        .bgt-left,
        .bgt-right {
            font-size: 7rem;
        }

        .bgt-right {
            line-height: 110%;
        }

        .kv-wrap span {
            font-size: 6rem;
        }
    }

    @media(max-width:426px) {

        .h1 {
            font-size: 3.5rem;
        }

        .h2 {
            font-size: 2.5rem;
        }

        .kv-btn {
            width: 30rem;
            height: 30rem;
        }

        .revbox br {
            display: none;
        }

        .revbox {
            word-break: keep-all;
            width: 90%;
            margin: auto;
        }
    }